# Constrain to production versions
-c requirements.txt

# Install production dependencies
-r requirements.in

# Dev Tools
pytest
pytest-cov
ruff
pathspec # Required for tools/update_readme.py
pip-tools # Retained for compatibility with local build-scripts
